.fill-remaining-space {
    flex: 1 1 auto;
}

.center-content {
    padding: 80px;
    text-align: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.active-link {
    font-weight: bolder;
    text-decoration: underline;
}

mat-button {
}