<div class="fixed-header">
  <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <mat-toolbar-row>
      <button mat-button>
        <img src="./assets/logo.png" style="height:50px;width: 50px" />
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button>
        HOME
      </button>
      <button mat-button [routerLink]="./branches" routerLinkActive="active-link">
        OFFICE BRANCES
      </button>
      <button mat-button>
        CONTACT US
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="center-content">
  {{captions}}
</div>